*{
	
	margin:0px;
	padding:0px;
	box-sizing: border-box;
	font-family: Poppins,Questrial,sans-serif;

}

body{
	margin:0;
    padding:0;
	background-color: antiquewhite;
	background-color: black;

}

.header {
	height: 140px;
	width: 100vw;
	background-color: black;
	position: fixed;
	top: 0px;
	z-index: 100;
}

.logo {
	background-color: white;
	cursor: pointer;
	margin-left: 200px;
	margin-top: 40px;
	border-radius: 10%;
}

.logo:hover{
	background-image: linear-gradient(to right, #9AC5F4 , #99DBF5) ;
}

.navbar{
	float: right;
	
	margin: 80px 100px 0px 0px;
	
}
.navbar ul{
	display: flex;
}

.navbar ul li{

	list-style: none;
}
.navbar ul li a{
	font-weight: 900;
	padding: 15px;
	margin-left: 30px;
	text-decoration: none;
	color: white;

}

.navbar ul li a:hover {
	background-image: linear-gradient(to right, #9AC5F4 , #99DBF5) ;
	color: black;
	transition: 0.5s;
	padding: 15px;
	border-radius: 8px 0px 8px 8px;
	
}

.Home {
    
	padding: 50px;
	margin-top: 50px;
	height: 100vh;
	width: 100%;
	background-color: black;
}

.col-1 {
	position: absolute;
	margin: 130px 0px 0px 130px;
	border-radius: 35px;
	height :500px;
	width: 50%;
	padding: 30px;
	color: white;
}


.col-1 h1{
	background: linear-gradient(to right,#e21862,#784dd2,#ffffff,#e21862);
  
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    font-size: 3rem;
}

.col-1 h3 {
	font-size: 2rem;
}
.nav {
	position: fixed;
	margin: 250px 0px 0px 80px;
	float: left;
}

.nav ul li{

	list-style: none;
}

.line-1 {
	position: absolute;
	margin: 120px 0px 0px 35px;
	height:160px;
	width: 3px;
	background-image:linear-gradient(to bottom, #9AC5F4 , #99DBF5) ;
}

.line-2 {
	position: absolute;
	margin: -280px 0px 0px 35px;
	height:160px;
	width: 3px;
	background-image:linear-gradient(to bottom, #9AC5F4 , #99DBF5) ;
}

.email {
	margin: 0px 0px 0px 1200px;
	position: fixed;
	transform: rotate(90deg);
}
.email a{
	text-decoration: none;
	color: white;

}
.nav ul li a{
	
	padding: 30px;

	text-decoration: none;
	color: white;

}
.col-2{

	margin: 150px 100px 0px 0px;
	float: right;
	position: relative;
}

#PMPhoto {
	-webkit-filter: blur(3px);
	filter: blur(3px);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
#PMPhoto:hover {
	cursor: pointer;
	-webkit-filter: blur(0);
	filter: blur(0);
}

.About ,.Work-Education ,.Resume {

	padding: 50px;
	margin-top: 50px;
	height: 100vh;
	width: 100vw;
	background-color: black;
	color: white;
	
}

.row {
	position: absolute;
	margin: 150px 0px 0px 550px;
	border-radius: 35px;
	height :500px;
	width: 50%;
	padding: 30px;
	
}

.row h3{
	background: linear-gradient(to right,#FF78C4,#FFBDF7,#F3BCC8,#DD58D6);
  
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 1.2rem;
}

.row ul{
	display :flex;
}

.row h4{
	text-align: center;
	background: linear-gradient(to bottom, #9AC5F4 , #99DBF5);
  
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    font-size: 1.2rem;
}
.row ul li{
	text-decoration: none;
	list-style: none;
	padding: 10px;
	margin: 10px;
	color: black;
	border-radius: 5px;
    background-color: antiquewhite;
}
#WebIcon {
	margin: 150px 0px 0px 130px;
}

 .edu-row{
    position: absolute;
	margin: 150px 0px 0px 200px;
	border-radius: 35px;
	height :500px;
	width: 50%;
	padding: 30px;
	color: white;
 }

 .edu-row h3{
	background: linear-gradient(to right,#FF78C4,#FFBDF7,#F3BCC8,#DD58D6);
  
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
     font-size: 1.2rem;
}

.edu-row h4{

	
	background: linear-gradient(to bottom, #9AC5F4 , #99DBF5);
  
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    font-size: 1.2rem;

}

.EduIcon {
	float: right;
	position: relative;
		margin: 150px 100px 0px 0px;
	
}

.footer {
	margin: 600px 0px 0px 40px;
	height: 50px;
	width: 100vw;
	background-color: black;
}

.footer h5 {

	text-align: center;
	color: white;
	font-size: 1rem;
}
